.button
{
-fx-background-color : #00133d;
-fx-text-fill : #e7e5e5;
}

.button:hover{
/*-fx-background-color : #10165F;*/
-fx-background-color: #2a768d;
-fx-background-radius: 10px;

}

.button:pressed
{
-fx-background-color : #1620A1;
-fx-background-radius: 10px;
-fx-background-radius: 10px;
}

.button-seleccionado{
    /*-fx-background-color : rgba(16,22,95,1);*/

    -fx-background-color: #2a768d88;
    -fx-background-radius: 10px;
    -fx-text-fill : #e7e5e5;
}

.button-seleccionado:hover{
-fx-background-color : #2a768d;
-fx-background-radius: 10px;
}

.button-seleccionado:pressed
{
-fx-background-color : #1620A1;
-fx-background-radius: 10px;
}


.scroll-pane {
    -fx-background-color: #02030A;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #10165F;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}

.label
{
    -fx-text-fill: #e7e5e5;
    -fx-font-size: 17;
}

.label-black
{
    -fx-text-fill: #000000;
    -fx-font-size: 15;
}

#custom{
    -fx-font-size: 12;
}

.vbox-estatus{
    /*-fx-background-color: rgba(105, 100, 175, 0.692);*/
    -fx-background-color: #ffffff;
    -fx-border-radius: 10 px
}