@import '../css/MFXColors.css';

.tree-view{
    -fx-background-color: transparent; /* Fondo del TreeView*/
    -fx-control-inner-background: transparent; /* Fondo interno*/
    -fx-padding:  0; /* Sin relleno adicional*/
    -fx-border-color: #2a8a85;
    -fx-border-radius: 10px;
}

.tree-cell {
    -fx-font-size: 16;
}